BOT_TOKEN=your_telegram_bot_token_here
DATABASE_URL="file:./dev.db"

# Optional Telegram sticker file_ids for categories.
# Leave empty if you do not want stickers yet.
STICKER_OVQAT=
STICKER_TRANSPORT=
STICKER_UY=
STICKER_SOGLIQ=
STICKER_TALIM=
STICKER_BOSHQA=
